<%= render 'posts/post', post: @post, hide_comment_count: true %>


<%= link_to 'All Posts', posts_path %>

<% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <%= render 'shared/errors', object: @comment %>
    <div class='control-group'>
      <%= f.label :body, 'Leave a comment' %>
      <%= f.text_area :body, rows: 3, class: 'span4' %>
    </div>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
<% end %>

<h5>Comments:</h5>

<% sort_by_votes(@post.reload.comments).each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>